<div>
	<h1>Welcome! Are you ready to hypnotize yourself?</h1>
	<p class='lead'>Have you been grinding away at changing a bad habit into a good habit, or to drop that bad habit completely?</p> 
	<p class='lead'>You can easily change, improve and drop inner beliefs about yourself or the world around you with the help of powerful, positive hypnosis scripts.</p>
	<p class='lead'>This process is enhanced when using your own voice, which is why I created this website.</p> 
	<p class='lead'>I sincerely hope this service helps you change yourself for the better!</p>
</div>